<link  rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css"></link>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/jbone/dist/jbone.min.js"></script>
<script src="node_modules/underscore/underscore-min.js"></script>
<script src="node_modules/backbone/backbone-min.js"></script>

<script src="../dist/6.0-backbone.js"></script>

<script type="text/template" id="itemViewTemplate"> 
    <button style="margin: 5px;" class="btn btn-primary" > 
        <%= DisplayName %> 
    </button> 
    <br/> 
</script>

<script type="text/template" id="itemCollectionViewtemplate"> 
    <h1> <%= Title %> </h1> 
    <div id="ulRegions"> 
    </div> 
    <div> Selected Item :  
        <%= SelectedItem.Id %> -  
        <%= SelectedItem.DisplayName %> 
    <div> 
    <div class="form-group"> 
        <label for="inputName">Name :</label> 
        <input type="text" class="form-control input-name"  
            id="inputName" value="<%= Name %>" /> 
    </div> 
    <button id="submit-button-button"  
    class="submit-button">Submit</button> 
</script> 

<script > 
    window.onload = function() { 
        app = new ScreenViewApp(); 
        app.start(); 
    } 
</script> 
 
<div id="pageLayoutRegion"> 
</div> 